body {
  /* Ici on utilise le sélecteur body pour appliquer une police et une taille par défaut pour les éléments */
  font-family: 'Manrope', sans-serif;
  font-size: 1em;
}

a {
  color: black;
  text-decoration: none;
}

em {
  color: #a5b4fc;
  font-style: normal;
}

h1 {
  text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
  font-size: 3.5em;
  color: #a5b4fc;
  font-family: 'Montserrat', sans-serif;
}

p {

  border: 3px #EB5353 solid;
  box-shadow: 6px 6px 2px rgba(0, 0, 0);

  border-radius:  4px 4px 4px 4px;
  font-size: 1.1em;
}
