.carre-contenu {
  border-right: 1px solid #8e86b5;
  border-bottom: 1px solid #8e86b5;
  padding: 50px;
  margin-bottom: 80px;
}

.carre-contenu h2 {
  margin-top: 30px;
}

.carre-contenu ul {
  margin-top: 30px;
}

.carre-contenu + div {
  text-align: center;
}

.a-propos-main {
  width: 50%;
  margin: auto;
}

.devis{
  margin-right: 50px

}
.Tarifs{
  color:aliceblue;
  font-size: 28px;
  padding-right: 30px;
}
table{
  padding: 50px;
  border-collapse: collapse;
  margin-right: 50px;
}
th,td{
  
  white-space: nowrap;
  color: aliceblue;
  padding: 50px;
  border: solid 1px;
}
