.accueil-photos {
  background-color: white;
  padding: 80px;
}

.accueil-photos h2 {
  color: #242424;
  text-align: center;
  margin-bottom: 80px;
}

.accueil-photos div {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  margin-bottom: 15px;
}

.accueil-introduction {
  display: flex;
  flex-direction: row;
  width: 60%;
  align-items: flex-start;
  margin: auto;
}

.accueil-introduction h1 {
  margin-bottom: 15px;
}

.accueil-introduction p {
  margin-bottom: 30px;
}

.accueil-introduction div {
  padding-right: 80px;
}

.section-contact h2 {
  color: #a5b4fc;
  text-align: center;
  padding-bottom: 40px;

 
}
.nometpr{
  display: flex;
  flex-direction: row;

}
.prenom{
margin: 10px;
}
/*  


.section-contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nometpr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  margin-bottom: 15px;
}

.nometpr label,
.nometpr input {
  margin-bottom: 5px;
}

.nometpr input {
  width: 48%; 
}

*/